body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0 ;
  margin: 0 ;
  box-sizing: border-box;
}

div {
  border: 1px solid red;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.hero,
footer {
  padding: 0 200px;
  background-color: #1F2937;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.header-logo-text {
  font-size: 24px;
  color: #F9FAF8;
}

p.hero-secondary-text {
  margin-bottom: 8px;
}

.hero-secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

button {
  background-color: #3882F6;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  color: #F9FAF8;
  font-weight: bold;
  width: 100px;
  height: 36px;
}

/* HERO */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 48px;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.hero-main {
  display: flex;
  padding-bottom: 48px;
  justify-content: space-between;
  align-items: center;
  gap: 48px;

}

.hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.hero-image {
  background: url(./images/hero-image.png);
  background-size: contain;
  align-self: stretch;
  flex: 1;
}

/* INFO */

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 48px 0;
}

.info-title {
  margin-bottom: 48px;
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

.info-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 48px;
  flex-wrap: wrap;
}

.info-list__item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.info-list__box {
  border: 1px solid #ddd;
  border-radius: 14px;
  overflow: hidden;
}

.info-list__box > img {
  object-fit: cover;
}

.info-list__text {
  text-align: center;
  font-size: 14px;
}

/* QUOTE */

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px 13em;
  background-color: #E5E7EB;
}

.quote-text {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1F2937;
}

.quote-author {
  align-self: end;
  font-weight: bold;
}

/* ACTION */

.action {
  
}

.action-container{
  display: flex;
  background-color: #3882F6;
  margin: 48px 8em;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
}

.action-text {
  padding: 24px 0;
}

.action-text__header {
  margin-bottom: 8px;
}

.action-text__text,
.action-text__header
 {
  color: #F9FAF8;
}

.action-button {
  border: 2px solid #F9FAF8;
}